html {
    background-color: black;
}

h1 {
    color: white;
    background-color: black;
    text-transform: uppercase;
}

p {
    color: white;
    background-color: black;  
}

img {
    border: solid white 5px;
    border-color: white;
    width: 100%;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;
    text-align: center;
}